@charset "UTF-8";
/*comentarios css*/
/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
/* 1rem = 16px */
html {
  font-family: "Poppins", sans-serif;
}

/* reset margin*/
* {
  margin: 0;
  padding: O;
}

/* Header */
.navbar {
  list-style: none;
  font-family: "Poppins", sans-serif;
}
.navbar ul {
  list-style: none;
  font-family: "Poppins", sans-serif;
}
.navbar li a {
  text-decoration: none;
  color: #252525;
  font-size: 20px;
}

/* Footer */
.footer ul {
  list-style: none;
  font-family: "Poppins", sans-serif;
}
.footer li a {
  text-decoration: none;
  color: #252525;
  font-size: 20px;
}
.footer p {
  font-family: "Poppins", sans-serif;
}
.footer .copyright {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

/* Hero index */
.hero {
  margin-bottom: 150px;
}

/* Caracretisiticas index */
.caracteristicas {
  background-color: #FF8101;
  margin-bottom: 150px;
}
.caracteristicas h4 {
  color: #FFFFFF;
}
.caracteristicas p {
  color: #FFFFFF;
}

/* Nosotros index */
.Nosotros {
  margin-bottom: 150px;
}
.Nosotros h2 {
  font-size: 65px;
}
.Nosotros p {
  font-size: 18px;
}

/* Catálogo Index */
.CatalogoIndex {
  margin-bottom: 150px;
}
.CatalogoIndex h2 {
  font-size: 42px;
}
.CatalogoIndex p {
  font-size: 18px;
}

/* Productos Index */
.ProductosIndex {
  margin-bottom: 150px;
}
.ProductosIndex h2 {
  font-size: 65px;
}
.ProductosIndex p {
  font-size: 18px;
}

/* CTA Index */
.CTA {
  margin-bottom: 100px;
}
.CTA .CTAfondo {
  background-color: #FF8101;
}
.CTA h2 {
  color: #FFFFFF;
  text-align: center;
  font-size: 55px;
}
.CTA p {
  color: #FFFFFF;
  font-size: 18px;
}

/* Quienes somos/Nosotros */
.HeroNosotros {
  margin-bottom: 150px;
}

.QuienesSomos {
  margin-bottom: 150px;
}

/* Valores Texto*/
.ValoresTexto {
  margin-bottom: 100px;
}

/* Valores Iconos */
.Valores {
  background-color: #FF8101;
  margin-bottom: 150px;
}
.Valores h4 {
  color: #FFFFFF;
}
.Valores p {
  color: #FFFFFF;
}

/* Productos */
/* Hero Productos */
.HeroProductos {
  margin-bottom: 150px;
}

/* Preparados Gourmet */
.Preparados {
  margin-bottom: 150px;
}

/* Pollo Fresco */
.PolloFresco {
  margin-bottom: 150px;
}

/* Catálogo  */
/*Banner productos*/
.BannerProductos {
  margin-bottom: 100px;
  border-radius: 30px;
}

.CardsSec {
  margin-bottom: 150px;
}

/* Contacto */
/* Ficha Contacto */
.FichaContacto {
  background-color: #FF8101;
  width: 558px;
  height: 765px;
  border-radius: 30px;
}
.FichaContacto h1 {
  color: #FFFFFF;
}
.FichaContacto p {
  color: #FFFFFF;
}

.formulario .BotonContacto {
  background-color: #FF8101;
}

.Contacto {
  margin-bottom: 100px;
}

/* Media Celulares productos */
@media (max-width: 767px) {
  /* Index */
  .hero {
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
  .hero img {
    max-width: 100%;
    height: auto;
  }
  .hero h1 {
    font-size: 28px;
    padding: 20px;
  }
  /* Estilos para la sección Caracteristicas */
  .caracteristicas .col-2 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  /* Estilos para la sección Nosotros */
  .Nosotros {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .Nosotros .NosotrosTexto {
    align-items: center;
    text-align: center;
  }
  .Nosotros img {
    max-width: 100%;
    height: auto;
  }
  /* Estilos para la sección Nuestro catálogo Home */
  .CatalogoIndex {
    padding-left: 100px;
    max-width: auto;
    height: auto;
  }
  /* Estilos para la sección Productos Home */
  .ProductosText {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .ProductosIndex .col-11 {
    flex: 100%;
    padding: 0;
    margin-bottom: 20px;
  }
  .ProductosIndex .col-11 img {
    width: 100%;
  }
  /* Estilos para la sección CTA Contacto */
  .CTA .CtaContenedor {
    flex-direction: column;
    width: fit-content;
    text-align: center;
  }
  .CTA .text-start {
    align-content: center;
  }
  .CTA .CTAfondo {
    width: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .CTA .CtaImagen {
    width: 50px;
    margin-right: 500px;
    align-items: center;
    text-align: center;
  }
  /* Nosotros */
  /* Estilos para la sección Hero Nosotros */
  .HeroNosotros {
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
  .HeroNosotros img {
    max-width: 100%;
    height: auto;
  }
  .HeroNosotros h1 {
    font-size: 28px;
    padding: 20px;
  }
  /* Estilos para la sección ¿Quiénes somos? */
  .QuienesSomos {
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
  .QuienesSomos img {
    max-width: 100%;
    height: auto;
  }
  .QuienesSomos h1 {
    font-size: 28px;
    padding: 20px;
  }
  /* Estilos para la sección Nuestros valores texto */
  .ValoresTexto {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  /* Estilos para la sección Valores */
  .Valores .col-2 {
    flex: 50%;
    padding: 10px;
    text-align: center;
  }
  /* Producto */
  /* Estilos para la sección HeroProductos */
  .HeroProductos {
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
  .HeroProductos img {
    max-width: 100%;
    height: auto;
  }
  .HeroProductos h1 {
    font-size: 28px;
    padding: 20px;
  }
  /* Estilos para la sección Preparados */
  .Preparados {
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
  .Preparados img {
    max-width: 100%;
    height: auto;
  }
  .Preparados h1 {
    font-size: 28px;
    padding: 20px;
  }
  /* Estilos para la sección PolloFresco */
  .PolloFresco .col-4,
  .PolloFresco .col-4 img {
    width: 100%;
  }
  .PolloFresco .col-4,
  .PolloFresco .col-4 p {
    text-align: center;
  }
  /* Catálogo */
  /* Estilos para el encabezado */
  header .navbar-brand img {
    max-width: 100px;
  }
  /* Estilos para la sección BannerProductos */
  .BannerProductos .card {
    margin-bottom: 20px;
  }
  .BannerProductos .card .card-img-overlay {
    padding: 20px;
  }
  .BannerProductos .card .card-title {
    font-size: 24px;
  }
  .BannerProductos .card .card-text {
    font-size: 16px;
  }
  .BannerProductos .card .card-text small {
    font-size: 12px;
  }
  /* Estilos para la sección CardsSec */
  .CardsSec .CardsGeneral .Cards1 {
    padding: 20px;
  }
  .CardsSec .CardsGeneral .Cards1 .card {
    margin-bottom: 20px;
  }
  .CardsSec .CardsGeneral .Cards1 .card .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  .CardsSec .CardsGeneral .Cards1 .card .card-body .card-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .CardsSec .CardsGeneral .Cards1 .card .card-body .card-text {
    font-size: 14px;
  }
  /* Contacto */
  /* Estilos para el encabezado */
  header .navbar-brand img {
    max-width: 100px;
  }
  /* Estilos para la sección Contacto y ficha de contacto */
  .Contacto {
    flex-wrap: wrap;
  }
  .Contacto .col-5 {
    flex: 100%;
    padding: 0;
    margin-bottom: 20px;
  }
  .Contacto .col-5 .pb-4 {
    text-align: center;
  }
  .Contacto .col-5 .formulario {
    padding: 20px;
  }
  .Contacto .col-5 .BotonContacto {
    width: 100%;
  }
  .FichaContacto {
    padding: 20px;
    width: 500px;
  }
  .FichaContacto h1 {
    font-size: 24px;
  }
  .FichaContacto p {
    font-size: 14px;
  }
}

/*# sourceMappingURL=estilos.css.map */
