

# Ignora archivos del sistema Mac 
.DS_store


# Ignora todos los archivos de texto
.txt

# Ignora todos los archivos gitignore
.gitignore

# Ignora todos los archivos isntalados por la terminal 
node_modules

