/* Estilos para tablet */
@media (max-width: 991px) {

/* index tablet*/

  .hero {

    flex-direction: row;
    align-items: center;
    text-align: center;

    img{

      max-width: 100%;
      height: auto;
    }
    
    h1{

      font-size: 24px;
    }
  
  }

  /* Características tablet index */
  .caracteristicas{

    p{

      font-size: 12px;
    }

    h4{

      font-size: 14px;
    }

    img{

      width: 60px;
      height: auto;
    }

  }

  /* Nosotros tablet index */
  .Nosotros{

    flex-direction: column;
    align-items: center;
    text-align: center;

    img{

      max-width: 100%;
      height: auto;
    }

    .NosotrosTexto{

      padding-top: 80px;
      align-items: center;
      text-align: center;

      h2{

        font-size: 24px;
      }
      p{

        font-size: 14px;
      }
    }
  }

  /* catálogo tablet index */
  .CatalogoIndex{

    padding-left: 100px;
    max-width: auto;
    height: auto;

    h2{

      font-size: 24px;
    }

    p{

      font-size: 12px;
    }

    img{

      max-height: 200px;
    }
  }

  /* productos tablet index */

  .ProductosIndex{

    .ProductosText{

      h{

        font-size: 24px;
      }

      p{

        font-size: 12px;
      }
    }
  }

  /* CTA tablet index */

  .CTA{

    img{

      height: 350px;
    }

    .CTAfondo{
      
      h2{

        font-size: 24px;
      }

      p{

        font-size: 12px;
      }
    }
  }

  /* nosotros tablet*/

  /* Hero Nosotros tablet */
  .HeroNosotros{

    flex-direction: row;
    align-items: center;
    text-align: center;

    img{

      max-width: 100%;
      height: auto;
    }

    h1{

      font-size: 28px;
      padding: 20px;
    }
    p{
      font-size: 14px;
    }
  }

  /* Quienes somos tablet */
  .QuienesSomos{

    flex-direction: row;
    align-items: center;
    text-align: center;

    img{

      max-width: 100%;
      height: auto;
    }
    h1{

      font-size: 28px;
      padding: 20px;
    }
    p{
      font-size: 13px;
    }
  }
  /* Nuestros valores texto tablet */
  .ValoresTexto{

    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 13px;
    
  }

  /* Estilos para la sección Valores */
  .Valores .col-2{

    p{
      font-size: 13px;
    }
    h4{
      font-size: 20px;
    }
  }

/* Productos tablet */

  /* Hero Productos tablet */
  .HeroProductos{

    flex-direction: row;
    align-items: center;
    text-align: center;

    img{

      max-width: 100%;
      height: auto;
    }
    h1{

      font-size: 28px;
      padding: 20px;
    }
  }

  /* Preparados tablet */
  .Preparados{

    flex-direction: row;
    align-items: center;
    text-align: center;

    img{

      max-width: 100%;
      height: auto;
    }
    h1{

      font-size: 28px;
      padding: 20px;
    }
  }

  /* PolloFresco tablet */
  .PolloFresco{

    flex-direction: row;
    align-items: center;
    text-align: center;

    img{

      width: 350px;
      height: auto;
    }
    h1{

      font-size: 28px;
      padding: 20px;
    }
  }

/* Contacto tablet */

  /* Estilos para el encabezado */
  header .navbar-brand img {
    max-width: 100px;
  }

  /* Estilos para la sección Contacto y ficha de contacto */
  .Contacto {
    flex-wrap: wrap;
  }

  .Contacto .col-5 {
    flex: 100%;
    padding: 0;
    margin-bottom: 20px;
  }

  .Contacto .col-5 .pb-4 {
    text-align: center;
  }

  .Contacto .col-5 .formulario {
    padding: 20px;
  }

  .Contacto .col-5 .BotonContacto {
    width: 100%;
  }

  .FichaContacto{

    height: 500px;
    padding: 20px;
    width: 500px;

    h1 {
      font-size: 24px;
    }
    p {
      font-size: 14px;
    }

  }


















}


/* Media Celulares productos */
@media (max-width: 767px) {


/* Index celular */

  .hero{

    flex-direction: row;
    align-items: center;
    text-align: center;

    img{

      max-width: 100%;
      height: auto;
    }

    h1{

      font-size: 28px;
      padding: 20px;
    }
  }

  /* Estilos para la sección Caracteristicas */
  .caracteristicas .col-2 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* Estilos para la sección Nosotros */
  .Nosotros {

    flex-direction: column;
    align-items: center;
    text-align: center;

    .NosotrosTexto{
      
      padding-top: 50px;
      align-items: center;
      text-align: center;
    }

    img{

      max-width: 100%;
      height: auto;
    }
  }

  /* Estilos para la sección Nuestro catálogo Home */
  .CatalogoIndex{

      padding-left: 100px;
      max-width: auto;
      height: auto;
  }

  /* Estilos para la sección Productos Home */
  .ProductosText{

    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .ProductosIndex .col-11 {
    flex: 100%;
    padding: 0;
    margin-bottom: 20px;
  }

  .ProductosIndex .col-11 img {
    width: 100%;
  }

  /* Estilos para la sección CTA Contacto */
  .CTA {

    
    .CtaContenedor {
      flex-direction: column;
      width: fit-content;
      text-align: center;
    }
    .text-start{

      align-content: center;
    }

    .CTAfondo{
    
      width: auto;
      flex-direction:column;
      align-items: center;
      text-align: center;
    }

    .CtaImagen{

      width: 50px;
      margin-right: 500px;
      align-items: center;
      text-align: center;
    }
  }


/* Nosotros */

  /* Estilos para la sección Hero Nosotros */
  .HeroNosotros{

    flex-direction: row;
    align-items: center;
    text-align: center;

    img{

      max-width: 100%;
      height: auto;
    }

    h1{

      font-size: 28px;
      padding: 20px;
    }
  }

  /* Estilos para la sección ¿Quiénes somos? */
  .QuienesSomos{

    flex-direction: row;
    align-items: center;
    text-align: center;

    img{

      max-width: 100%;
      height: auto;
    }
    h1{

      font-size: 28px;
      padding: 20px;
    }
  }

  /* Estilos para la sección Nuestros valores texto */
  .ValoresTexto{

    flex-direction: column;
    align-items: center;
    text-align: center;
    
  }

  /* Estilos para la sección Valores */
  .Valores .col-2 {
    flex: 50%;
    padding: 10px;
    text-align: center;
  }


/* Producto */
  
    /* Estilos para la sección HeroProductos */
    .HeroProductos{

      flex-direction: row;
      align-items: center;
      text-align: center;

      img{

        max-width: 100%;
        height: auto;
      }
      h1{

        font-size: 28px;
        padding: 20px;
      }
    }
    /* Estilos para la sección Preparados */
    .Preparados{

      flex-direction: row;
      align-items: center;
      text-align: center;

      img{

        max-width: 100%;
        height: auto;
      }
      h1{

        font-size: 28px;
        padding: 20px;
      }
    }
  
    /* Estilos para la sección PolloFresco */
    .PolloFresco .col-4,
    .PolloFresco .col-4 img {
      width: 100%;
    }
  
    .PolloFresco .col-4,
    .PolloFresco .col-4 p {
      text-align: center;
    }


/* Catálogo */

    /* Estilos para el encabezado */
  header .navbar-brand img {
    max-width: 100px;
  }

    /* Estilos para la sección BannerProductos */
  .BannerProductos .card {
    margin-bottom: 20px;
  }

  .BannerProductos .card .card-img-overlay {
    padding: 20px;
  }

  .BannerProductos .card .card-title {
    font-size: 24px;
  }

  .BannerProductos .card .card-text {
    font-size: 16px;
  }

  .BannerProductos .card .card-text small {
    font-size: 12px;
  }

  /* Estilos para la sección CardsSec */
  .CardsSec .CardsGeneral .Cards1 {
    padding: 20px;
  }

  .CardsSec .CardsGeneral .Cards1 .card {
    margin-bottom: 20px;
  }

  .CardsSec .CardsGeneral .Cards1 .card .card-img-top {
    height: 200px;
    object-fit: cover;
  }

  .CardsSec .CardsGeneral .Cards1 .card .card-body .card-title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .CardsSec .CardsGeneral .Cards1 .card .card-body .card-text {
    font-size: 14px;
  }


/* Contacto */

  /* Estilos para el encabezado */
  header .navbar-brand img {
    max-width: 100px;
  }

  /* Estilos para la sección Contacto y ficha de contacto */
  .Contacto {
    flex-wrap: wrap;
  }

  .Contacto .col-5 {
    flex: 100%;
    padding: 0;
    margin-bottom: 20px;
  }

  .Contacto .col-5 .pb-4 {
    text-align: center;
  }

  .Contacto .col-5 .formulario {
    padding: 20px;
  }

  .Contacto .col-5 .BotonContacto {
    width: 100%;
  }

  .FichaContacto{

    padding: 20px;
    width: 500px;

    h1 {
      font-size: 24px;
    }
    p {
      font-size: 14px;
    }

  }



}