



/* Media Celulares productos */
@media (max-width: 767px) {


/* Index */

  .hero{

    flex-direction: row;
    align-items: center;
    text-align: center;

    img{

      max-width: 100%;
      height: auto;
    }

    h1{

      font-size: 28px;
      padding: 20px;
    }
  }

  /* Estilos para la sección Caracteristicas */
  .caracteristicas .col-2 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* Estilos para la sección Nosotros */
  .Nosotros {

    flex-direction: column;
    align-items: center;
    text-align: center;

    .NosotrosTexto{

      align-items: center;
      text-align: center;
    }

    img{

      max-width: 100%;
      height: auto;
    }
  }

  /* Estilos para la sección Nuestro catálogo Home */
  .CatalogoIndex{

      padding-left: 100px;
      max-width: auto;
      height: auto;
  }

  /* Estilos para la sección Productos Home */
  .ProductosText{

    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .ProductosIndex .col-11 {
    flex: 100%;
    padding: 0;
    margin-bottom: 20px;
  }

  .ProductosIndex .col-11 img {
    width: 100%;
  }

  /* Estilos para la sección CTA Contacto */
  .CTA {

    
    .CtaContenedor {
      flex-direction: column;
      width: fit-content;
      text-align: center;
    }
    .text-start{

      align-content: center;
    }

    .CTAfondo{
      
      width: auto;
      flex-direction:column;
      align-items: center;
      text-align: center;
    }

    .CtaImagen{

      width: 50px;
      margin-right: 500px;
      align-items: center;
      text-align: center;
    }
  }


/* Nosotros */

  /* Estilos para la sección Hero Nosotros */
  .HeroNosotros{

    flex-direction: row;
    align-items: center;
    text-align: center;

    img{

      max-width: 100%;
      height: auto;
    }

    h1{

      font-size: 28px;
      padding: 20px;
    }
  }

  /* Estilos para la sección ¿Quiénes somos? */
  .QuienesSomos{

    flex-direction: row;
    align-items: center;
    text-align: center;

    img{

      max-width: 100%;
      height: auto;
    }
    h1{

      font-size: 28px;
      padding: 20px;
    }
  }

  /* Estilos para la sección Nuestros valores texto */
  .ValoresTexto{

    flex-direction: column;
    align-items: center;
    text-align: center;
    
  }

  /* Estilos para la sección Valores */
  .Valores .col-2 {
    flex: 50%;
    padding: 10px;
    text-align: center;
  }


/* Producto */
  
    /* Estilos para la sección HeroProductos */
    .HeroProductos{

      flex-direction: row;
      align-items: center;
      text-align: center;

      img{

        max-width: 100%;
        height: auto;
      }
      h1{

        font-size: 28px;
        padding: 20px;
      }
    }
    /* Estilos para la sección Preparados */
    .Preparados{

      flex-direction: row;
      align-items: center;
      text-align: center;

      img{

        max-width: 100%;
        height: auto;
      }
      h1{

        font-size: 28px;
        padding: 20px;
      }
    }
  
    /* Estilos para la sección PolloFresco */
    .PolloFresco .col-4,
    .PolloFresco .col-4 img {
      width: 100%;
    }
  
    .PolloFresco .col-4,
    .PolloFresco .col-4 p {
      text-align: center;
    }


/* Catálogo */

    /* Estilos para el encabezado */
  header .navbar-brand img {
    max-width: 100px;
  }

    /* Estilos para la sección BannerProductos */
  .BannerProductos .card {
    margin-bottom: 20px;
  }

  .BannerProductos .card .card-img-overlay {
    padding: 20px;
  }

  .BannerProductos .card .card-title {
    font-size: 24px;
  }

  .BannerProductos .card .card-text {
    font-size: 16px;
  }

  .BannerProductos .card .card-text small {
    font-size: 12px;
  }

  /* Estilos para la sección CardsSec */
  .CardsSec .CardsGeneral .Cards1 {
    padding: 20px;
  }

  .CardsSec .CardsGeneral .Cards1 .card {
    margin-bottom: 20px;
  }

  .CardsSec .CardsGeneral .Cards1 .card .card-img-top {
    height: 200px;
    object-fit: cover;
  }

  .CardsSec .CardsGeneral .Cards1 .card .card-body .card-title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .CardsSec .CardsGeneral .Cards1 .card .card-body .card-text {
    font-size: 14px;
  }


/* Contacto */

    /* Estilos para el encabezado */
  header .navbar-brand img {
    max-width: 100px;
  }

  /* Estilos para la sección Contacto y ficha de contacto */
  .Contacto {
    flex-wrap: wrap;
  }

  .Contacto .col-5 {
    flex: 100%;
    padding: 0;
    margin-bottom: 20px;
  }

  .Contacto .col-5 .pb-4 {
    text-align: center;
  }

  .Contacto .col-5 .formulario {
    padding: 20px;
  }

  .Contacto .col-5 .BotonContacto {
    width: 100%;
  }

  .FichaContacto{

    padding: 20px;
    width: 500px;

    h1 {
      font-size: 24px;
    }
    p {
      font-size: 14px;
    }

  }



}