
/* Quienes somos/Nosotros */
.HeroNosotros{
    margin-bottom: 150px;
}
.QuienesSomos{
    margin-bottom: 150px;
}

/* Valores Texto*/
.ValoresTexto{
    margin-bottom: 100px;
}

/* Valores Iconos */
.Valores{

    background-color: $naranja;
    margin-bottom: 150px;
    h4{

        color: $blancotext;
    }
    p{

        color: $blancotext;
    }

}
